@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

$primary: #3a46ed !default;
$secondary: #f97316 !default;
$success: #16a34a !default;
$info: #0ea5e9 !default;
$warning: #facc15 !default;
$danger: #dc2626 !default;
$light: #f9fafb !default;
$dark: #171717 !default;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);

@import "~bootstrap/scss/bootstrap";

body {
  background-color: $dark;
  color: $light;
  font-family: Arial, Helvetica, sans-serif;
}
