<div>
  <div class="d-flex align-items-center">
    <h1>List of Drivers</h1>
    <button class="btn btn-primary ms-3">Add Driver</button>
  </div>
  <div class="row mt-4">
    <div class="col-sm-4 mb-4" *ngFor="let driver of drivers">
      <div class="card">
        <div class="card-body text-dark">
          <h5 class="card-title">{{ driver.name }} {{ driver.surname }}</h5>
          <p class="card-text">{{ driver.email }}</p>
          <div>
            <button class="btn btn-warning me-2">Edit</button>
            <button class="btn btn-danger">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
